<% 
       	@feed = RssParser.run("http://twitter.com/statuses/public_timeline.rss")
        @feed1 = @feed[:items][0]
        @tweets = [@feed1]
 %>
<% @tweets.each do |tweet| %>
<div class='tweet' id='spy-item-<%= tweet[:link] -%>'>
	<%= tweet[:description] %>
</div>
<% end %>
