<div id="Breadcrumb">
		administração > login
	</div>
	<div id="Content">
		<span class="Titulo">Login</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Help"><a href="#" id="btnAjuda">Ajuda</a></li>
		</div>
		<%= render :file  => "layouts/_admhelp.html.erb" %>
		<div id="Grid">
			<span>
			<%if flash[:msg]%>
				<%=flash[:msg]%>
			<%end%>
			</span>
						
			Bem vindo ao painel de administração!<br>
			Esta área é de acesso restrito, por favor digite o seu e-mail e senha de acesso para continuar.<br> 
			<br>
			<%=form_tag admin_sessions_path, :method => :post%>
			<label>
				E-Mail: 
				<input type="Text" value="" name="email" id="email" class="textfield">
			</label>
			<br><br>
			<label>
				Senha: 
				<input type="Password" value="" name="senha" id="senha" class="textfield">
			</label>
			<br>
			<br>
			<button type="submit">Logar</button>
		</form>
		</div>
		<div class="Linha"></div>
	</div>

