<%content_for :title do%>
	Serviços
<%end%>
<%content_for :head do %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_servicos.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<h1 class="Title_internal_h1"><img src="images/tit_servicos.png" width="227" height="19" /></h1>
		<br />
		<img src="images/img_line_detailinternal.png" width="867" height="7" />
		<br /><br /><br />
		<div id="Box_text_internal">
		<% if !@Erro%>	
			<%#= lightbox_image_tag(@DynamicPage.image.url("lateral"), @DynamicPage.image.url(), {:class=>"images"}, :title => @DynamicPage.legend)%>
			<%= raw @DynamicPage.body%><br>
			
			<%=image_tag(@DynamicPage.image.url(),:width => "700", :align => "left")%>
			
		<% else %>
			<%= raw @DynamicPage %>
		<% end %>
			<div id="clear"></div>
		</div>
	</div>
</div>