#Box_content_internal{
	float:none !important;
	margin-bottom: 70px !important;
	
}
#Content_cases{
	margin-bottom:10px;
	}
	#Content_cases li{
		list-style:none;;
		}	
	
#tit_internal{
	background:url(../images/bg_tit.png);
	background-position:bottom right;
	background-repeat:no-repeat;
	width:978px;
	height:35px;
	}

.tit_case_menos{
	height:30px;
	background:url(../images/bg_case_menos.png);
	background-position:center right;
	background-repeat:no-repeat;
	padding-left:90px;
	padding-top:3px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#344875;
	text-decoration:none;
	cursor:pointer;
	}

a{
	text-decoration:none;
	cursor:pointer;
}

.tit_case_mais{
	height:30px;
	background:url(../images/bg_case_mais.png);
	background-position:center right;
	background-repeat:no-repeat;
	padding-left:90px;
	padding-top:3px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#344875;
	text-decoration:none;
	cursor:pointer;
	}
	
.tit_case_mais a{
	text-decoration:none;
}

.itens_cases{
	width:160px;
	height:auto;
	float:left;
	margin:0px 10px 20px 0px;
	}
	.img_itens_cases{
		text-align:center;
	}

p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#2f4b2f;
	margin-top:10px;
	}

#divclear{
	clear:both;
	}

#text_content_cases{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#2f4b2f;
	width:940px;
	margin-left:30px;
	line-height: 18px;	
	}
#text_content_cases h1{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#2f4b2f;
	margin:15px 0px 25px 0px;
	}	

#img_content_cases ul{
	 margin-left:30px;
	 margin-top:20px;
	}

#img_content_cases ul li{
	display:inline;
	margin-right:10px;
	}
.showboxcases{
	height:auto;
	margin-left:50px;
}

.hide{
	display:none;
	}
#Footer{
	margin-top:0px !important;
}