@charset "utf-8";
/* CSS Document */

#Line_box
{	
	position:relative;
	width:100%;
	height:700px;
	*top:10px;
}
	#Cases_line
	{	
		position:relative;
		left:230px;
		height:435px;
		width:256px;
		top:-25px;
		*top:-35px;
	}
	#Dep_line
	{
		position:relative;
		left:504px;
		height:444px;
		width:256px;
		top:-530px;
		*top:-540px;
	}

		#Field_line
	{
		position:relative;
		float:left;
		height:310px;
		width:200px;
		top:20px;
		left:20px;
	}
		#Field_line a
		{
			text-decoration:none;
		}	
		#Field_line a:hover
		{
		text-decoration:underline;
		}			
		#Field_line p
		{
			position:absolute;
			font-family:Verdana, Geneva, sans-serif;
			font-size:17px;
			font-weight:normal;
			color:#1e60a5;
			width:143px;
			top:15px;
		}	
		.Detail_align
		{
			position:relative;
			top:-880px;
			left:953px;
		}