#Content_eventos{
	background:url(../images/bg_evento.jpg) right top repeat-y;
	width:945px;
	}
	
#divclear{
	clear:both;
	}
	
#eventos_border{
	margin-top:10px;
	}
	
#eventos_corpo{
	width:945px;
	margin-top:10px;
	}

#eventos_imagem{
	float:left;
	margin-right:10px;
	}
#eventos_texto{
	float:left;
	margin-right:10px;
	width:680px;
	}
	
#eventos_texto h1{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#990000;
	}
	
#eventos_texto h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#5b5b5b;
	margin-top:5px;
	}
	
#eventos_mais{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	float:right;
	margin-right:4px;
	height: 22px;
	width: 23px;
}
.evt_mais{
	background:url(../images/bt_mais.png) left top no-repeat;
}
.evt_menos{
	background:url(../images/bt_menos.png) left top no-repeat;
}

#eventos_mais *{
vertical-align: middle;
}

#eventos_texto_expan p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-style:italic;
	color:#5b5b5b;
	float:left;
	line-height:16px;
	margin-top:10px;
	width:900px;
	margin-left:10px;
}
.body_eventos{
	margin:30px 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#5b5b5b;
	width:900px;
}
.hide{
	display:none;
}