<%content_for :title do%>
	Cases
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "cases_home" %>
	<%=javascript_include_tag "showcases.js"%>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_cases.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<div id="Home_line">1</div>
		<div id="Busines_line">2</div>
		<div id="Solar_line">3</div>
	</div>
</div>