<div id="Breadcrumb">
		administração > <a href="<%=admin_sections_path%>">linhas</a>
	</div>
	<div id="Content">
		<span class="Titulo">Linhas</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_admin_section_path%></li>
			<li class="Help"><a href="#">Ajuda</a></li>
		</div>
		
		<div id="Grid">
			<h3><%=@Section.title%></h3><br>
		</div>
		<div class="Linha"></div>
	</div>

