<div id="Breadcrumb">
		administração > <a href="admin_schedule_visits_path">visitas agendadas</a>
	</div>
	<div id="Content">
		<span class="Titulo">Linhas</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_admin_schedule_visit_path%></li>
			<li class="Help"><a href="#">Ajuda</a></li>
		</div>
		
		<div id="Grid">
			<h3><%=@Section.title%></h3><br>
		</div>
		<div class="Linha"></div>
	</div>

