<%content_for :title do%>
	Eventos
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "eventos" %>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<div id='tit_internal'>
			<img src='../images/tit_eventos.png'>
		</div>
		<div id='Content_eventos'>
			<div id='eventos_border'>
				<img src='../images/bg_tit.png'>
			</div>
			<div id='eventos_corpo'>
				<div id='eventos_imagem'>
					<img src='../images/img_evento.jpg'>
				</div>
				<div id='eventos_texto'>
					<h1>25/05/2011</h1>
					<h2>HOSPITALAR 2010, 17ª FEIRA INTERNACIONAL DE PRODUTOS, EQUIPAMENTOS, SERVIÇOS E TECNOLOGIA.</h2>
				</div>
				<div id='eventos_mais'>
					<a href='#'><img src='../images/bt_mais.png'></a>
				</div>
				<div id='divclear'></div>
			</div>
			<div id='eventos_border'>
				<img src='../images/bg_tit.png'>
			</div>
			<div id='eventos_corpo'>
				<div id='eventos_imagem'>
					<img src='../images/img_evento.jpg'>
				</div>
				<div id='eventos_texto'>
					<h1>25/05/2011</h1>
					<h2>HOSPITALAR 2010, 17ª FEIRA INTERNACIONAL DE PRODUTOS, EQUIPAMENTOS, SERVIÇOS E TECNOLOGIA.</h2>
				</div>
				<div id='eventos_texto_expan'>
					<p>A Nautilus participará da Expolazer Sul que acontece entre os dias 11 a 14 de agosto de 2010, no Pavilhão FENAC, na cidade de Novo Hamburgo-RS. Com 15 anos de sucesso em Sâo Paulo, a Expolazer agora amplia sua atuação para outros Estados e organiza, no Rio Grande do Sul, na cidade de Novo hamburgo, grande Porto Alegre, a Expolazer Sul. O grande potencial de consumo dos estados do Sul gerou um dos maiores pólos industriais do setor de piscinas, móveis e decorações, que prima pela excelente qualidade de seus produtos.</p>
				</div>
				<div id='eventos_mais'>
					<a href='#'><img src='../images/bt_menos.png'></a>
				</div>
				<div id='divclear'></div>
			</div>
			<div id='eventos_border'>
				<img src='../images/bg_tit.png'>
			</div>
		</div>
	</div>
</div>