<%content_for :title do%>
	Em breve
<%end%>
<%content_for :head do %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_busines.png")%>
<%end%>

<div id="Content">
	<div id="Box_content_internal">
		<h1><%= image_tag("tit_embreve.png", :width=>"116", :height=>"17")%></h1>
		<br />
		<%= image_tag("img_line_detailinternal.png", :width=>"867",:height=>"7") %>
		<br /><br /><br />
		<div id="Box_text_internal">
		<p>Aguarde, esta página está sendo reformulada.</p>
			<div id="clear"></div>
		</div>
	</div>
</div>
