<%content_for :title do%>
	Vantagens
<%end%>
<%content_for :head do %>	
	<%= stylesheet_link_tag "advantages" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_servicos.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<h1 class="Title_advantages_h1"><img src="images/tit_vantagens.png" /></h1>
		<img src="images/img_line_detailinternal.png" width="903" height="7" />
		<br /><br />
		<h2 class="Title_advantages_h2">Conheça algumas vantagens que só a FASTERM garante a você:</h2>
		<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>GRANDE ECONOMIA NA GERAÇÃO DE ÁGUA QUENTE:</b> Quando comparado a sistemas de aquecimento a diesel e gás (caldeiras, aquecedores de passagem e centrais térmicas), o sistema Fasterm é capaz de gerar uma economia de até 50%. Se comparadas a sistemas de aquecimento a base de resistência elétrica, a economia gerada chega a 75%;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>GRANDE ECONOMIA NA MANUTENÇÃO DOS EQUIPAMENTOS:</b> Por serem aquecedores cujo modelo de funcionamento se baseia nos princípios de refrigeração, o sistema Fasterm dispensa contratos de manutenção preventiva, além de funcionários dedicados ao acionamento e manutenção dos equipamentos (Norma NR-13);</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>MELHOR SISTEMA DE APOIO:</b> Bombas de calor são a melhor e mais eficiente opção para sistema de apoio aos painéis solares, pois estes necessitam, obrigatoriamente, de um sistema que supra suas carências em situações de pouca insolação ou durante a noite;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>EQUIPAMENTOS NÃO POLUENTES E ECOLOGICAMENTE CORRETOS:</b> Por serem equipamentos de refrigeração, os aquecedores da linha Fasterm não emitem gases poluentes (CO2) e partículas na atmosfera, contribuindo para a melhora na qualidade do meio ambiente, além disso, para o seu funcionamento, se utilizam de energia limpa e renovável.</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>MENOR RISCO:</b> Por não utilizarem combustão no processo de aquecimento, os equipamentos não oferecem risco de intoxicação ou explosão;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>MENOR USO DE ESPAÇO:</b> Por não necessitar de reserva de combustível, seja ela madeira, gás ou diesel, o sistema Fasterm se utiliza de pouca área para sua instalação;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>MENOR CONTAMINAÇÃO:</b> Por não se utilizar de reserva de madeira, o sistema Fasterm não cria a possibilidade de formação de colônias de ratos e outras pragas, que geram custos e problemas de natureza sanitária;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>PROJETOS INTELIGENTES:</b> Nossos projetos de sistemas de economia, quando possível, são desenvolvidos para que os aquecedores Fasterm atuem de forma integrada a outros meios reconhecidamente eficientes no aquecimento de água, tais como coletores solares, mas procurando integrar os sistemas existentes até então. Isso proporciona o uso inteligente dos equipamentos, usando cada qual no melhor momento de seu potencial de aquecimento, sem perder de vista o fator de segurança, essencial para sistemas públicos de aquecimento de água, ou seja, quando o aquecimento principal não supre as necessidades, automaticamente o sistema secundário entra para suprir, sem que o usuário da água quente note a mudança;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>FINANCIAMENTO:</b> A Fasterm possui diversas opções de financiamento que podem facilitar a sua aquisição, consulte-nos;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/><b>RISCO ZERO:</b> A Fasterm desenvolveu, ao longo de seus anos de trabalho, um sistema único de comercialização com <b>RISCO ZERO</b>. Ele visa dar a quem compra esse sistema, a segurança de que os resultados de economia serão, pelo menos, os prometidos em nossa proposta comercial. Por ele, a Fasterm, caso seja aprovada a proposta comercial, assume, em um primeiro momento, todos os custos relativos à instalação do sistema, por um período de 60 dias, utilizado para a confirmação do resultado de economia prometido. Só após o fim desse prazo, e confirmado o resultado de economia previsto no estudo, é que a Fasterm cobrará do consumidor os valores previamente acertados na proposta comercial. Caso não se consiga atingir o objetivo de economia, a Fasterm retira todos os seus equipamentos, sem custo algum para o consumidor. Isso é garantia no que diz e faz. Isso é credibilidade.</p>
			<div id="clear"></div></p>
		</div>
	</div>
</div>