<%content_for :title do%>
	Vantagens
<%end%>
<%content_for :head do %>	
	<%= stylesheet_link_tag "advantages" %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_servicos.png")%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<h1 class="Title_advantages_h1"><img src="images/tit_vantagens.png" /></h1>
		<img src="images/img_line_detailinternal.png" width="903" height="7" />
		<br /><br />
		<h2 class="Title_advantages_h2">Conheça algumas vantagens que só a FASTERM garante a você</h2>
		<br />
			<p class="Text_advantages_black">Quando comparada a sistemas de caldeira – a gás, diesel ou lenha – ou centrais térmicas, a Fasterm pode gerar até 50% de economia no aquecimento de água. E se comparada a sistemas com resistências elétricas, essa economia pode subir para 75%;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>Por não necessitar de reservas de combustível, o sistema não exige grandes espaços para a instalação. Além disso, sistemas à lenha podem tornar a reserva de lenha um espaço propício para a proliferação de ratos, outro problema eliminado com a Fasterm;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>Todos os produtos utilizam energia limpa e renovável para o funcionamento, com isso não há emissão de CO2 ou quaisquer outras partículas nocivas;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>Por não utilizarem combustão no processo de aquecimento, os equipamentos não oferecem risco de intoxicação ou explosão;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>Todos os equipamentos são de fácil manuseio e manutenção;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>O tempo de retorno do capital (pay-back) é muito baixo, pois o sistema não exige alto investimento e promove grande economia;</p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>Bombas de Calor são a melhor e mais eficiente opção de sistema de apoio ao sistema solar, pois este necessita, obrigatoriamente, de um sistema que supra suas carências em situações de pouca insolação ou durante a noite; </p>
			<br />
			<p class="Text_advantages_topic"><img src="images/img_topc_ball_advantages.png" class="Img_topic_align"/>A Fasterm possui diversas opções de financiamento que facilitam a aquisição dos produtos.	</p>	
			<div id="clear"></div></p>
		</div>
	</div>
</div>