<%content_for :title do%>
	Empresa
<%end%>
<%content_for :head do %>
	<%=stylesheet_link_tag "empresa"%>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<h1 class="Title_internal_h1"><img src="images/tit_aempresa.png" width="161" height="17" /></h1>
		<br />
		<img src="images/img_line_detailinternal.png" width="867" height="7" />
		<br /><br /><br />
		<p class="Text_internal_p">
		    A NAUTILUS é uma empresa atuante no mercado a mais de 25 anos e seu principal foco é a comercialização de equipamentos, acessórios e aquecedores para piscinas. Por trabalhar sempre de forma muito expressiva no mercado e por toda a história que possui, a NAUTILUS se tornou uma das melhores empresas no ramo.
		    <br /><br />
		    O crescimento do grupo NAUTILUS gerou a necessidade de buscar um público maior e ampliar o alcance da empresa.  Para que isso se tornasse possível, foi lançada uma linha de aquecedores de água a 55 ºC.
		    <br /><br />
		    A FASTERM é uma marca pertencente ao grupo NAUTILUS que trabalha com seu foco direcionado a empresas da área hoteleira (podendo ser hotéis ou motéis), hospitais, escolas, clubes, academias e condomínios, enfim, estabelecimentos que tenham como artigo de necessidade primária uma grande quantidade de água quente.
		    <br /><br />
		    Entre as mais variadas vantagens nos serviços oferecidos pela FASTERM é possível citar a fácil integração a sistemas existentes, como, por exemplo, caldeiras, aquecimento a gás, solar entre outros. Além das imensas vantagens de custo, já que, em média, são registradas reduções de 50% a 75% comparando o sistema FASTERM com outros sistemas de aquecimento a gás e elétrico, possibilita um retorno do capital investido em um prazo médio de 18 meses.        
		</p>
	</div>
</div>