<%content_for :title do%>
	Empresa
<%end%>
<%content_for :head do %>
<%end%>
<%content_for :featured_image do %>
	<%= image_tag("img_freatured_empresa.png")%>
<%end%>

<div id="Content">
	<div id="Box_content_internal">
		<h1 class="Title_internal_h1"><img src="images/tit_aempresa.png" width="161" height="17" /></h1>
		<br />
		<img src="images/img_line_detailinternal.png" width="867" height="7" />
		<br /><br /><br />
		<div id="Box_text_internal">
			<% if !@Erro %>	
				<%=image_tag(@DynamicPage.image.url)%>
				<%= raw @DynamicPage.body%>
			<% else %>
				<%= raw @DynamicPage %>
			<% end %>
			<div id="clear"></div>
		</div>
	</div>
</div>