<%content_for :title do%>
	Produto
<%end%>
<%content_for :head do %>
	<%= stylesheet_link_tag "produtos" %>
<%end%>
<div id="Content">
	<div id="Box_content_internal">
		<div id="Home_line">1</div>
		<div id="Busines_line">2</div>
		<div id="Solar_line">3</div>
	</div>
</div>