<div id="Breadcrumb">
		administração > <a href="<%=admin_newsletters_path%>">newsletters</a>
	</div>
	<div id="Content">
		<span class="Titulo">E-mail Cadastrado</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Help"><a href="#">Ajuda</a></li>
		</div>
		
		<div id="Grid">
			<h3><%=@Newsletter.email%></h3><br>
		</div>
		<div class="Linha"></div>
	</div>

