
		<div id="HelpBox" style="display:none;">
			Para visualizar um registro, clique sobre o nome.<br>
			Para editar um registro, clique no bot&atilde;o "editar".<br>
			Para deletar um registro, clique no botao "excluir".<br>
			Para adicionar um registro, clique no bot&atilde;o "novo"<br>
			<br>
			<a id="btnFecharAjuda" href="javascript:void(0);">fechar</a>
		</div>

