<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<META name='description' content='Bombas de calor e painéis solares para o aquecimento de água com economia e sustentabilidade para você e seu empreendimento. Acesse o site e saiba como.'>
	<META name='author' content='Sato7 - Comunicação Estratégica'>
	<META name='language' content='portuguese'>
	<META name='keywords' content='Fasterm, aquecimento, piscina, banheira, chuveiro, casa, hotel, motel, residencial, empresarial, solar, bomba, calor, painéis, solares, painéis solares, economia, sustentabilidade, nautilus, home, business'>
	<title>Fasterm - Por favor, atualize seu navegador!</title>
</head>

<body>
<%=yield%>

</body>
</html>
